.App {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  background: #fff;

  &-title h1 {
    text-align: center;
  }

  &-control {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}